*{box-sizing: border-box;}
body{
    text-align: center;
    background: #fff;
    font-size: 20px;

}

.container{
    max-width: 1180px;
    margin: auto;
    padding: 0 10px;

}

.small-chevrons-container{
    display: flex;
    max-width: 1180px;
    margin: auto;
    justify-content: flex-end;
    .fa{
        @include small-arrow;
    }
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
section{
    padding: 80px 0;
    @include tablet-landscape{
        padding: 60px 0;
    }
    @include mobile{
        padding: 40px 0;
    }
}
section.stripe {
    background-color: $color-blue;
    padding:25px 0;
    @include mobile{
        padding: 15px 0;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        @include tablet-landscape{
           font-size: 22px;
           text-align: center!important;
        }
        @include mobile{
            font-size: 20px;
        }
    }
    nav{
        @include text-regular;
        //line-height: 24px;
        text-transform: capitalize;
        color: #ffffff;
    }
}

.active-menu{
    flex-wrap: wrap;
    nav{
        display: block!important;
        width: 100%;
    }
}

.right-side-bar{
    width: 35%;
    float: right;
}
.blog-content {
    width: 65%;
    float: left;
}

