body{
    text-align: center;
    background: #fff;
    font-size: 20px;
}

.container{
    max-width: 1180px;
    margin: auto;
    padding: 0 10px;
    @include mobile{
        justify-content: center;
        flex-wrap: wrap;
    }
}

.small-chevrons-container{
    display: flex;
    max-width: 1180px;
    margin: auto;
    justify-content: flex-end;
    .fa{
        @include small-arrow;
    }
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
section{
    padding: 80px 0;
}
section.stripe {
    background-color: $color-blue;
    padding:25px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        font-size: 120%;
        text-transform: uppercase;
        color: #ffffff;
    }
    nav{
        font-size: 70%;
        line-height: 24px;
        text-transform: capitalize;
        color: #ffffff;
    }
}

.active-menu{
    flex-wrap: wrap;
    nav{
        display: block!important;
        width: 100%;
    }
}



