@mixin text-regular{
  font-size:14px;
  color: $color-text;
  line-height: 2;
  //font-family: 'Open Sans', sans-serif;
  @include mobile{
    font-size: 12px;
  }
}

@mixin button($color){
  display: inline-block;
  font-size:14px;
  border:1px solid $color;
  color: $color;
  text-transform: uppercase;
  padding:15px 20px;
  user-select: none;
  cursor: pointer;
  transition: .2s;
  &:active{
    transform: scale(.97);
  }
  @include mobile{
    font-size: 12px;
  }
}
@mixin wrapper-heading($color){
  font-size: 24px;
  text-transform: uppercase;
  color: $color;
  margin-bottom: 25px;
  @include tablet-portrait{
    font-size: 22px;
    margin-bottom: 15px;
  }
  @include mobile{
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@mixin section-heading($color){
  font-size: 35px;
  text-transform: uppercase;
  color: $color;
  text-align: left;
  @include tablet-portrait{
    font-size: 30px;
  }
  @include mobile{
    font-size: 25px;
    margin-bottom: 25px;
  }
}

@mixin section-heading-underlined{
  @include section-heading($color-blue);

  &:after{
    content: '';
    display: block;
    width: 70px;
    border-bottom: 2px solid $color-blue;
    margin-top: 15px;
    @include tablet-portrait{
      width: 60px;
    }
    @include mobile{
      width: 50px;
      margin-top: 8px;
    }
  }
}

@mixin small-arrow{
  font-size: 75%;
  color: #ffffff;
  width: 25px;
  height: 25px;
  background-color: $color-blue;
  margin-left: 3px;
  line-height: 25px;
  cursor: pointer;
  transition: .2s;
  user-select: none;
  &:active{
    transform: scale(.95);
  }
}