@mixin text-regular{
  font-size:70%;
  color: $color-text;
  line-height: 2;
  //font-family: 'Open Sans', sans-serif;
}

@mixin button($color){
  display: inline-block;
  font-size:70%;
  border:1px solid $color;
  color: $color;
  text-transform: uppercase;
  padding:15px 20px;
  user-select: none;
  cursor: pointer;
  transition: .2s;
  &:active{
    transform: scale(.97);
  }
}
@mixin wrapper-heading($color){
  font-size: 120%;
  text-transform: uppercase;
  color: $color;
  margin-bottom: 25px;
}

@mixin section-heading($color){
  font-size: 175%;
  text-transform: uppercase;
  color: $color;
  text-align: left;
}

@mixin section-heading-underlined{
  @include section-heading($color-blue);
  margin-bottom: 25px;
  &:after{
    content: '';
    display: block;
    width: 70px;
    border-bottom: 2px solid $color-blue;
    margin-top: 15px;
  }
}

@mixin small-arrow{
  font-size: 75%;
  color: #ffffff;
  width: 25px;
  height: 25px;
  background-color: $color-blue;
  margin-left: 3px;
  line-height: 25px;
  cursor: pointer;
  transition: .2s;
  user-select: none;
  &:active{
    transform: scale(.95);
  }
}