section.who-we-are{
  text-align: left;
  .container{
    @include mobile{
      display: flex;
      flex-direction: column;
    }
  }
  img{
    width: 50%;
    float: left;
    margin-right: 30px;
    order: 2;
    @include mobile{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  h2{
    @include section-heading($color-blue);
    order: 1;
  }
  p{
    @include text-regular;
    text-align: justify;
    margin-bottom: 40px;
    order: 3;
    @include tablet-portrait{
      margin-bottom: 30px;
    }
  }
  .button{
    @include button($color-blue);
    color: #ffffff;
    background-color: $color-blue;
    order: 4;
    @include mobile{
      width: 70%;
      text-align: center;
      margin: auto;
    }
  }

}
section.about-us-features{
  background-color: $color-dark;
  .container{
    display: flex;
    justify-content: space-between;
    @include mobile{
      flex-wrap: wrap;
    }
  }
  .wrapper{
    width: 31%;
    @include mobile{
      width: 100%;
      margin-bottom: 35px;
    }
    &:last-of-type{
      @include mobile{
        margin-bottom: 0;
      }
    }
  }
  .circle{
    width: 130px;
    height: 130px ;
    border-radius: 50%;
    border: 4px solid $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto 20px auto;
  }
  .fa{
   color: #ffffff;
   font-size: 35px;
  }
  h3{
    @include wrapper-heading(#fff);
    margin-bottom: 20px;
  }
  p{
    @include text-regular;
    color: #ffffff;
  }
}
section.about-us-more{
  .container{
    display: flex;
    @include mobile{
      flex-wrap: wrap;
    }
  }
  .why-choose-us,
  .what-we-do{
    flex: 1;
    @include mobile{
      flex: 1 100%;
    }
  }
  .what-we-do{
    padding-left: 15px;
    @include mobile{
      padding: 0;
      margin-top: 30px;
    }
    p{
      @include text-regular;
      text-align: justify;
      margin-bottom: 40px;
      @include tablet-portrait{
        margin-bottom: 30px;
      }
      &:last-of-type{
        @include mobile{
          margin-bottom: 0;
        }
      }
    }
  }
  .why-choose-us{
    padding-right: 15px;
    @include mobile{
      padding: 0;
    }
  }
  h2{
    @include section-heading($color-blue);
  }
  .we-are-creative{
    display: flex;
    color: #ffffff;
    .fa{
      width: 60px;
      height: 60px;
      background-color: $color-blue;
      font-size: 70%;
      line-height: 60px;
    }
    p{
      background-color: $color-dark;
      height: 60px;
      line-height: 60px;
      padding-left: 10px;
      display: block;
      flex: 1;
      text-align: left;
    }
  }
  .text-with-border{
    @include text-regular;
    padding: 20px;
    border: 1px solid $colore-border;
    text-align: left;
    margin-bottom: 10px;
  }
  li{
    @include text-regular;
    height: 60px;
    border: 1px solid $colore-border;
    text-align: left;
    margin-bottom: 10px;
    line-height: 60px;
    overflow: hidden;

    &:before{
      content: '\f054';
      font-family: FontAwesome;
      width: 60px;
      border-right: 1px solid $colore-border;
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      color: $color-blue;
    }
  }
}
section.customer-testimonials{
  background-color: $color-dark;
  h2{
    @include section-heading(#fff);
    text-align: center;
  }
  .feadback-container{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @include tablet-portrait{
      margin-bottom: 40px;
    }
    @include mobile{
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }
  .image-container{
    flex: 1;
    @include mobile{
      flex: 1 70%;
    }
  }
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @include tablet-portrait{
      width: 120px;
      height: 120px;
    }
    @include mobile{
      height: 80px;
      width: 80px;
      margin-bottom: 15px;
    }
  }
  p{
    @include text-regular;
    text-align: left;
    color: #ffffff;
    padding-left: 40px;
    border-left: 1px solid #ffffff;
    display: inline-block;
    flex: 2;
    @include mobile{
      padding-left: 0;
      border-left: none;
      flex: 1 100%;
      text-align: justify;
    }
    span{
      display: block;
    }
    span:first-of-type{
      margin-top: 35px;
      @include mobile{
        margin-top: 20px;
      }
    }
  }
  .control-bar{
    text-align: center;
  }
  .circle{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
  }
}

section.our-team{
  @include tablet-portrait{
    padding-bottom: 40px;
  }
  h2{
    @include section-heading($color-blue);
  }
  .wrapper-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include tablet-portrait{
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .wrapper{
    width: 22.3%;
    position: relative;
    @include tablet-portrait{
      width: 40%;
      margin-bottom: 20px;
    }
    @include mobile{
      width: 100%;
    }
    &:last-of-type{
      @include mobile{
        margin-bottom: 0;
      }
    }

  }
  img{
    width: 100%;
    margin-bottom: 20px;
    @include mobile{
      margin-bottom: 0;
    }
  }
  h3{
    font-size: 120%;
    text-transform: capitalize;
    color: #4B4B4B;
    @include mobile{
      position: absolute;
      bottom: 8%;
      padding: 15px;
      left: 0;
      background-color: rgba(255,255,255, .6);
    }
    span{
      margin-top: 10px;
      font-size: 50%;
      display: block;
    }
  }

}

