section.blog-full-body{
  text-align: left;
  h1,
  h2{
    font-size: 120%;
    color: $color-dark;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
    @include tablet-portrait{
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  h2{
    color: $color-blue;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 10px;

  }
  h3{
    @include text-regular;
    font-style: italic;
    margin-bottom: 10px;
  }
  p{
    @include text-regular;
    margin-bottom: 30px;
    text-align: justify;
    @include tablet-portrait{
      margin-bottom: 20px;
    }
    span{
      color: #ff4242;
    }
  }
  h6{
    @include text-regular;
    text-transform: capitalize;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: $color-blue;
    margin-right: 5px;
    display: none;
  }
  .social-button{
    width: 100px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    @include tablet-portrait{
      width: 75px;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
    }
    @include mobile{
      width: 65px;
      font-size: 11px;
    }
  }
  .facebook{
    background-color: #2f6ae0;
  }
  .twitter{
    background-color: #0ea9fd;
  }
  .gplus{
    background-color: #c73252;
  }
  .instagram{
    background-color: #595959;
  }
  .input-container{
    display: flex;
    justify-content: space-between;
    @include tablet-portrait{
      flex-wrap: wrap;
    }
    input[type=text],
    input[type=email]
    {
      border: 1px solid $colore-border;
      @include text-regular;
      padding: 15px 20px;
      @include tablet-portrait{
        padding: 10px 15px;
      }

    }
    input[type=text],
    input[type=email]{
      width: 32%;
      margin-bottom: 15px;
      @include tablet-portrait{
        width: 100%;
      }
    }
  }
  textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    height: 200px;
    border: 1px solid $colore-border;
    @include text-regular;
    padding: 15px 20px;
    @include tablet-portrait{
      padding: 10px 15px;
    }
    @include mobile{
      height: 120px;
    }
  }
  input[type=submit]{
    @include button($color-blue);
    background-color: $color-blue;
    color: #ffffff;
    padding: 10px 12px;
    @include mobile{
      width: 70%;
      margin: auto;
      display: block;
    }
  }


}