section.blog-body{

  .blog-content{
    .blog-post{
      margin-bottom: 80px;
    }
    p{
      @include text-regular;
      text-align: left;
      margin-bottom: 15px;
      line-height: 1.5;
    }
    .button{
      @include button($color-blue);
      background-color: $color-blue;
      color: #ffffff;
      float: right;
    }
    .nav-page-number{
      @include small-arrow;
      border: 1px solid $color-blue;
      background-color: transparent;
      color: $color-text;
    }
    nav{
      .fa-chevron-left{
        display: none;
      }
    }
  }
  h1,
  h2{
    font-size: 120%;
    color: $color-dark;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 600;
  }


}