section.contact-form{
  .input-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  input,
  textarea{
    border: 1px solid $colore-border;
    padding: 15px 20px;
    @include text-regular;
    @include mobile{
      padding: 10px 15px;
    }
  }
  input[type=text],
  input[type=email]{
    width: 49%;
    margin-bottom: 20px;
    @include mobile{
      width: 100%;
      margin-bottom: 10px;
    }
  }
  textarea{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    @include mobile{
      margin-bottom: 20px;
    }
  }
  input[type=submit]{
    @include button($color-blue);
    background-color: $color-blue;
    color: #ffffff;
    padding: 4px 30px;
    display: block;
    @include tablet-portrait{
      margin: auto;
      width: 50%;
    }
    @include mobile{
      width: 100%;
    }
  }
}
section.map{
  padding: 0;
  font-size: 0;
}