//---------SECTION MAIN-IMMAGE-----------
section.main-image {
  padding: 0;
  height: 100vh;
  //background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/main1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .left-arrow {
    left: 20px;
    @include tablet-portrait{
      left: 0;
    }
  }
  .right-arrow {
    right: 20px;
    @include tablet-portrait{
      right: 0;
    }
  }
  .arrow {
    position: absolute;
    top: 55%;
    border: 1px solid white;
    color: #fff;
    padding: 20px 25px;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
    z-index: 9999;
    &:active{
      transform: scale(.97);
    }
    @include tablet-portrait{
      border: none;
      top: 60%;
    }
    @include mobile{
      font-size: 20px;
      padding: 10px;
      top: 52%;
    }

  }
  .main-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 71%;
    @include tablet-portrait{
      width: 77%;
    }

    p {
      @include text-regular;
      color: #fff;
      width: 70%;
      margin: 0 auto 35px auto;
      transition: 1s;
      @include tablet-portrait{
        width: 90%;
      }
      @include mobile{
        display: none;
      }
    }
  }
  h1 {
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    transition: 1s;
    @include tablet-landscape{
      font-size: 45px;
    }
    @include tablet-portrait{
      font-size: 40px;
    }
    @include mobile{
      font-size: 35px;
      margin-bottom: 50px;
    }


  }
  .button {
    @include button(#fff)
    @include mobile{
      width: 70%;
    }
  }
}
//---------SECTION FEATURES-----------
section.features{
  background-color: $color-white;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrapper{
    width: 30%;
    @include tablet-portrait{
      width: 47%;
    }
    @include mobile{
      width: 100%;
      margin-bottom: 35px!important;
    }
    &:first-of-type{
      margin-bottom: 65px;
      @include tablet-portrait{
        margin-bottom: 55px;
      }
    }
    &:nth-of-type(3){
      @include tablet-portrait{
        margin-bottom: 55px;
      }
    }
    &:last-of-type{
      margin-bottom: 0!important;
    }

  }
  img{
    margin-bottom: 25px;
    @include tablet-portrait{
      height: 35px;
      margin-bottom: 20px;
    }
  }
  h3{
    @include wrapper-heading($color-blue);
  }
  p{
    @include text-regular;
  }
}
//---------SECTION RECENT-PROJECTS-----------
section.recent-projects{
  background-color: #fff;
  padding-bottom: 40px;
  h2{
    @include section-heading-underlined;
  }
  .container{
    display: flex;
    justify-content: space-between;
    @include mobile{
      flex-wrap: wrap;
    }
  }

  .wrapper{
    width: 31%;
    position: relative;
    background-color: #0F273C;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    @include mobile{
      width: 100%;
    }
    img{
      width: 100%;
      opacity: 0.7;
      transition: 1s;
    }
    i{
      position: absolute;
      color: #ffffff;
      font-size: 120%;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%,-50%) scale(.5);
      transition: .5s;
    }
    &:hover{
      i{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
      }
      img{
        opacity: 1;
        transform: scale(1.15);
      }
    }
  }
  .small-chevrons-container {
    margin: 0;
    width: 100%;
    i{
      float: right;
    }
  }
}

//---------SECTION OUR-RESULTS-----------
section.our-results{
  background-color: $color-blue;
  //padding-top: 60px;
  @include tablet-portrait{
    margin-bottom: 0;
  }
  .container{
    display: flex;
    @include tablet-portrait{
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .wrapper{
    flex: 1;
    @include tablet-portrait{
      flex: 1 50%;
    }
    &:first-of-type{
    margin-bottom: 60px;
  }
  }
  .number{
    color: #fff;
    font-size:50px ;
    @include tablet-portrait{
      font-size: 45px;
    }
    @include mobile{
      font-size: 40px;
    }
  }
  h3{
    @include wrapper-heading(#fff);
    @include mobile{
      font-size: 19px;
    }
    &:before{
      content: '';
      display: block;
      width: 40px;
      margin: 20px auto 15px auto;
      border-bottom: 2px solid #ffffff;
      @include mobile{
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }

  }
}

//---------SECTION BLOG POSTS-----------

section.blog-posts{
  h2{
    @include section-heading-underlined;
  }
  .post-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @include tablet-portrait{
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }
  .post{
    width: 48%;
    background-color: #f8f8f8;
    display: flex;
    @include tablet-portrait{
      width: 100%;
      margin-bottom: 25px;
    }
    @include mobile{
      flex-wrap: wrap;
    }
  }
  .image-container{
    flex: 1;
    @include mobile{
      flex: 1 100%;
    }
    img{
      width: 100%;
      position: center;
      object-fit: cover;

    }
  }
  .post-text{
    flex: 2;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .date{
    text-align: left;
    @include text-regular;
    font-style: italic;
    margin-top: 20px;
  }
  p{
    @include text-regular;
    text-align: left;
  }
  .button{
    @include button($color-blue);
    border: none;
    padding: 0;
    text-align: right;
    margin-bottom: 20px;

  }
}

