//---------SECTION MAIN-IMMAGE-----------
section.main-image {
  padding: 0;
  height: 100vh;
  //background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/main1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .left-arrow {
    left: 20px;
  }
  .right-arrow {
    right: 20px;
  }
  .arrow {
    position: absolute;
    top: 55%;
    border: 1px solid white;
    color: #fff;
    padding: 20px 25px;
    font-size: 30px;
    transition: .2s;
    cursor: pointer;
    &:active{
      transform: scale(.97);
    }
  }
  .main-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;

    p {
      @include text-regular;
      color: #fff;
      width: 70%;
      margin: 0 auto 35px auto;
      transition: 1s;
    }
  }
  h1 {
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    transition: 1s;


  }
  .button {
    @include button(#fff)
  }
}
//---------SECTION FEATURES-----------
section.features{
  background-color: $color-white;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrapper{
    width: 30%;
    &:first-of-type{
      margin-bottom: 65px;
    }
  }
  img{
    margin-bottom: 25px;
  }
  h3{
    @include wrapper-heading($color-blue);
  }
  p{
    @include text-regular;
  }
}
//---------SECTION RECENT-PROJECTS-----------
section.recent-projects{
  background-color: #fff;
  padding-bottom: 40px;
  h2{
    @include section-heading-underlined;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }

  .wrapper{
    width: 30%;
    position: relative;
    background-color: #0F273C;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    img{
      width: 100%;
      opacity: 0.7;
      transition: 1s;
    }
    i{
      position: absolute;
      color: #ffffff;
      font-size: 120%;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%,-50%) scale(.5);
      transition: .5s;
    }
    &:hover{
      i{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
      }
      img{
        opacity: 1;
        transform: scale(1.15);
      }
    }
  }
}

//---------SECTION OUR-RESULTS-----------
section.our-results{
  background-color: $color-blue;
  padding-top: 60px;
  .container{
    display: flex;
  }
  .wrapper{
    flex: 1;
  }
  .number{
    color: #fff;
    font-size:250% ;
  }
  h3{
    @include wrapper-heading(#fff);
    &:before{
      content: '';
      display: block;
      width: 40px;
      margin: 20px auto 15px auto;
      border-bottom: 2px solid #ffffff;
    }

  }
}

//---------SECTION BLOG POSTS-----------

section.blog-posts{
  h2{
    @include section-heading-underlined;
  }
  .post-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .post{
    width: 48%;
    background-color: #f8f8f8;
    display: flex;
  }
  .image-container{
    flex: 1;
    img{
      width: 100%;
      position: center;
      object-fit: cover;

    }
  }
  .post-text{
    flex: 2;
    padding: 30px 20px;
    position: relative;

  }
  .date{
    text-align: left;
    @include text-regular;
    font-style: italic;
  }
  p{
    @include text-regular;
    text-align: left;
  }
  a{
    right: 20px;
    bottom: 30px;
    position: absolute;
    font-size: 70%;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: 600;
  ;
  }
}

