section.projects-recent-projects{
  padding-bottom: 45px;
  .container{
    display: block;
  }
  h1{
    @include section-heading-underlined;
  }
  nav{
    margin-bottom: 40px;
    text-align: right;
    @include tablet-portrait{
      margin-bottom: 15px;
    }
    @include mobile{
      display: flex;
      justify-content: space-around;
    }

    li{
      padding: 5px;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      margin: 0 25px;
      transition: .2s;
      border-bottom: 2px solid transparent;
      @include text-regular;
      @include tablet-portrait{
        margin: 0 15px;
      }
      @include mobile{
        margin: 0 5px;
      }
      &:hover{
        border-bottom: 2px solid $color-blue;
      }
    }
  }
  .gallery-container{
    display: flex;
    flex-wrap: wrap;
    transition: all .5s;
  }
  .wrapper{
    width: 33.333%;
    opacity: 0;
    margin: 0;
    padding:15px;
    box-sizing: border-box;
    position: relative;
    transition: .2s;
    font-size: 0;
    &:hover{
      transform: scale(1.05);
    }
    @include tablet-portrait{
      width: 50%;
    }
    @include mobile{
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
    }
    &:last-of-type{
      @include mobile{
        margin-bottom: 0;
      }
    }
  }
  img{
    width: 100%;
  }

  .placer{
    background-color: rgba(0,0,0, .5);
    padding: 15px 10px;
    text-align: left;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom:  15px;
    @include mobile{
      left: 0;
      right: 0;
      bottom: 0;
    }

    li{
      display: inline-block;
      padding: 0 6px;
      background-color: $color-blue;
      line-height: 1.2!important;
      margin-right: 5px;
    }

    h3,li{
      @include text-regular;
      color: #f2f2f2;
    }

    h3{
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
  }







}

