section.blog-sidebar-right{
  padding: 0 0 0 50px;
  @include tablet-landscape{
    padding-left: 40px;
  }
  @include tablet-portrait{
    padding-left: 30px;
  }
  @include mobile{
    padding: 30px 0 0 0;
    margin-top: 30px;
    border-top: 2px solid $colore-border;

  }
  .recent-post{
    text-align: left;
    line-height: 1.5;
    margin-bottom: 30px;
    opacity: 0; /* for the animation*/
    &:last-of-type{
      margin-bottom: 40px;
    }
    img{
      width: 80px;
      height: 80px;
      object-fit: cover;
      object-position: center;
      vertical-align: middle;
      float: left;
      margin-right: 20px;
      @include tablet-portrait{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }

  }
  .blog-search{
    border: none;
    background-color: #ebebeb;
    width: 100%;
    padding: 15px 10px;
    @include text-regular;
    margin-bottom: 25px;
    @include tablet-portrait{
      padding: 10px 10px;
    }
    &::placeholder{
      text-transform: capitalize;
      font-family: FontAwesome;
    }
  }
  h3{
    font-size: 24px;
    color: $color-text;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
    @include tablet-portrait{
      margin-bottom: 20px;
      font-size: 20px;
    }

    &:last-of-type{
      margin-bottom: 15px;
    }
  }

  h4{
    @include text-regular;
  }
  h5{
    @include text-regular;
    text-transform: uppercase;
    font-weight: bold;
    @include tablet-portrait{
      font-size: 13px;
    }
  }
  .projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .wrapper{
    flex: 1 50%;
    box-sizing: border-box;
    opacity: 0; /* for the animation*/
    @include tablet-portrait{
      flex: 1 100%;
      padding: 0!important;
      margin-bottom: 15px;
    }
    &:nth-of-type(1){
      padding: 0 $padding-gallery $padding-gallery 0;
    }
    &:nth-of-type(2){
      padding: 0 0 $padding-gallery $padding-gallery;
    }
    &:nth-of-type(3){
      padding: $padding-gallery $padding-gallery 0 0;
    }
    &:last-of-type{
      padding: $padding-gallery 0 0 $padding-gallery;
      @include tablet-portrait{
        margin-bottom: 0;
      }
    }
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  a{
    @include text-regular;

  }
  li{
    text-align: left;
    &:before{
      font-size: 70%;
      content: '\f054';
      font-family: FontAwesome;
      display: inline-block;
      margin-right: 5px;
      color: $color-blue;
    }
  }





}