.blog-image-container{
  position: relative;
  margin-bottom: 30px;
  img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
  }
  .date-stamp{
    text-align: left;
    font-weight: 300;
    font-size: 70%;
    padding: 15px 6px;
    background-color: $color-blue;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 40px;
    span{
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
    }
  }
}