footer{
  section.stripe{
    padding: 50px 0;
    .container{
      @include tablet-portrait{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
      }
    }
    @include tablet-landscape{
      padding: 40px 0;
    }

    h2{
      text-align: left;
      @include tablet-portrait{
        margin-bottom: 20px;
        line-height: 1.3;
      }
    }
    .button{
      @include button(#fff);
      @include tablet-portrait{
        width: 50%;
      }
      @include mobile{
        width: 100%;
      }
    }
  }
  section.footer-menu{
    background-color: $color-dark;
    padding: 60px 0;
    @include mobile{
      padding: 40px 0!important;
    }
    @include tablet-landscape{
      padding: 50px 0;
    }
    .container{
      display: flex;
      justify-content: space-between;
      @include tablet-portrait{
        flex-wrap: wrap;
      }
    }
    .wrapper{
      width: 23%;
      @include tablet-portrait{
        width: 33%;
        margin-bottom: 35px;
      }
      @include mobile{
        width: 100%;
      }
      &:nth-of-type(4){
        @include tablet-portrait{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 0;
        }
        h3{
          @include tablet-portrait{
            width: 100%;
            text-align: center!important;
          }
          @include mobile{
            text-align: left!important;
          }
        }
        ul{
          @include tablet-portrait{
            width: 33%;
          }
          @include mobile{
            width: 100%;
          }
        }
      }


    }
    h3{
      color: $color-blue;
      font-weight: 600;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 35px;
      @include mobile{
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
    li{
      @include text-regular;
      color: #ffffff;
      text-align: left;
      transition: .2s;
      &:before{
        content: '\f054';
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 5px;
        color: $color-blue;
      }
      &:hover{
        color: #e9e9e9;
      }
      &:hover:before{
        color: #ffffff;
      }
    }
    .address:before{
      content: '\f041';
    }
    .phone:before{
      content: '\f095';
    }
    .e-mail:before{
      content: '\f003';
    }
    p{
      @include text-regular;
      color: #ffffff;
      text-align: left;
    }
    .for-media{
      @include tablet-portrait{
        width: 48%;
      }
      @include mobile{
        width: 100%;
        margin-bottom: 10px;
      }
    }

  }
  section.black-stripe{
    background-color: #000000;
    padding: 35px 0;
    @include mobile{
      padding: 25px 0;
    }
  }
  p{
    @include text-regular;
    color: #ffffff;
  }
  .fa-heart{
    color: #ff0000;
  }












}
